@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

/* custom */

.footer {
  width: 100%;
  /* height: 50vh; */
  background-color: #1c2135;
}

.footer_bg_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: -1;
}

.footer_bg_box > img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 .footer_bg_box 안에 맞게 조정됩니다. */
}

.footer_blank {
  width: 100%;
  height: 10%;
}

.footer_top_box {
  position: relative;
  top: 0;
  /* transform: translateY(-50%); */
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.footer_left_box {
  /* width: 50%; */
  /* background-color: red; */
  display: flex;
  margin: 2em 0;
  margin-left: 0.5em;
}

.footer_top_img {
  width: 20%;
  margin-left: 0.5em;
  min-width: 200px;
}

.footer_top_img > img {
  max-width: 100%;
  width: 75%;
}

.footer_top_text_fnb > p {
  /* background-color: red; */
  margin-left: 0.5em;
  font-size: 1em;
  color: rgb(214, 214, 214);
}

.footer_top_text_fnb > ul {
  display: flex;
  margin-top: 2em;
}

.footer_top_text_fnb > ul > li {
  margin: 0 1em;
  font-size: 0.8em;
  color: rgb(214, 214, 214);
  font-weight: bold;
}

.footer_right_box {
  width: 40%;
  /* background-color: blue; */

  position: relative;
  margin-right: 0.5em;
}

.footer_right_box > ul {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.footer_right_box > ul > li {
  width: 20%;
  height: 50%;
  min-width: 30px;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_right_box > ul > li > a > img {
  max-width: 100%;
  width: 100%;
}

.address {
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  font-style: normal;
  padding-bottom: 2em;
}

.address > small {
  display: block;
  margin-left: 0.5em;
}

@media all and (max-width: 767px) {
  .footer {
    max-width: 767px;
  }
  .footer_top_box {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin: 0 auto;
  }

  .footer_left_box {
    position: relative;
    margin-left: 0;
    /* padding: 0 1em; */
    /* padding: 1em 0; */
    width: 100%;
    /* height: 100%; */

    /* margin: 0 auto; */
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer_top_img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer_top_text_fnb {
    text-align: center;
    width: 100%;
    position: relative;
  }
  .fnb {
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 80%;
    margin-left: 0 0.5em;

    /* top: 80%; */
    left: 50%;
    transform: translateX(-50%);
  }

  .footer_top_text_fnb > p {
    font-size: 0.8em;
  }

  .footer_top_text_fnb > ul > li > a {
    font-size: 0.8em;
  }

  .footer_right_box {
    /* background-color: saddlebrown; */

    margin: 0 auto;
    margin-top: 1em;
    width: 100%;
    padding: 1em 0;
    padding-left: 0.5em;
  }

  .footer_right_box > ul {
    display: flex;
    justify-content: center;
  }

  .footer_right_box > ul > li {
    width: auto;
    margin: 0 0.5em;
  }

  /* .footer_right_box > ul > li:first-child {
    margin-left: 0;
  }

  .footer_right_box > ul > li:last-child {
    margin-right: 0;
  } */

  .address {
    position: relative;
    width: 100%;
    /* background-color: red; */
    margin: 0 auto;
  }

  .address > small {
    position: relative;
    text-align: center;
    padding-top: 1.5em;
    left: 0%;
    font-size: 0.75em;
    line-height: 1.4em;
    /* transform: translatex(-50%); */
    /* width: 50%; */
    /* background-color: blue; */
    margin: 0 0.5em;
  }
}

@media all and (max-width: 420px) {
  .footer {
    max-width: 420px;
    width: 100%;
  }

  .footer_top_box {
    max-width: 420px;
    width: 100%;
  }

  .footer_top_text_fnb {
    max-width: 420px;
  }

  .footer_top_text_fnb > ul {
    min-width: 360px;
    padding: 0 0.5em;
  }

  .footer_top_text_fnb > ul > li {
    margin: 0 0.5em;
  }
  .footer_top_text_fnb > ul > li > a {
    font-size: 0.3em;
  }
}
