@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

video {
  vertical-align: top;
}

/* custom */
.popup_cover {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/ds_popup_bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.popup_cover::after {
  content: "";
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* 어둡게 할 정도 조정 (0.5는 50% 투명도) */
  z-index: 1;
}
.popup_close_btn {
  position: absolute;
  right: 1%;
  top: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(234, 234, 234, 0.836);
  z-index: 5;
  cursor: pointer;
}

.popup_close_btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup_close_btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup_content_wrap {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  z-index: 2; /* 오버레이보다 위에 있도록 설정 */
}

.popup_logo_box {
  max-width: 600px;
  margin: 0 auto;
  /* background-color: tomato; */
}

.popup_logo_box > img {
  width: 100%;
}

.popup_text_box > p {
  font-family: "코버워치";
  color: white;
  font-size: 1.85em;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1.5em;
  line-height: 1.2em;
  padding: 0 0.5em;
}

.popup_top_content {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 0 0.5em;
}

.popup_top_box {
  position: relative;
  width: 33.333%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 10px solid orangered;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.popup_top_box:hover {
  transform: scale(1.05);
}

.popup_top_box1 > img {
  width: 200px;
}

.popup_top_box2 > img {
  width: 120px;
}

.popup_top_box3 > img {
  width: 180px;
}

.popup_top_box > p {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

.popup_bottom_content {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 5em;
}

.popup_bottom_box {
  position: relative;
  width: 33.3333%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 10px solid orangered;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.popup_bottom_box:hover {
  transform: scale(1.05);
}

.popup_bottom_box1 > img {
  width: 130px;
}

.popup_bottom_box > p {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.popup_bottom_box2 > img {
  width: 130px;
}

/* 767미디어 쿼리 */

@media all and (max-width: 767px) {
  .popup_cover {
    max-width: 767px;
  }

  .popup_logo_box {
    padding: 0 0.5em;
  }

  .popup_text_box > p {
    font-size: 1.5em;
    padding: 0 0.5em;
  }

  .popup_top_content {
    max-width: 767px;
  }

  .popup_bottom_content {
    max-width: 767px;
    padding: 0 0.5em;
  }

  .popup_top_box1 > img {
    width: 130px;
  }

  .popup_top_box2 > img {
    width: 70px;
  }
  .popup_top_box3 > img {
    width: 110px;
  }

  .popup_bottom_box1 > img,
  .popup_bottom_box2 > img {
    width: 100px;
  }

  .popup_top_content p,
  .popup_bottom_content p {
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 420px) {
  .popup_logo_box {
    max-width: 420px;
    margin: 0 auto;

    text-align: center;
  }

  .popup_logo_box > img {
    width: 80%;
  }

  .popup_text_box {
    max-width: 420px;
    margin: 0 auto;
  }

  .popup_text_box > p {
    max-width: 420px;

    font-size: 1em;
    padding: 0 0.5em;
  }

  .popup_top_content,
  .popup_bottom_content {
    max-width: 420px;
  }

  .popup_top_box,
  .popup_bottom_box {
    height: 90px;
  }

  .popup_top_box1 > img {
    width: 100px;
  }

  .popup_top_box2 > img {
    width: 50px;
  }
  .popup_top_box3 > img {
    width: 100px;
  }

  .popup_bottom_box1 > img,
  .popup_bottom_box2 > img {
    width: 80px;
  }
  .popup_top_content p,
  .popup_bottom_content p {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
  }
}
